.acciones {
    padding-left: 5%;
    display: flex;
    flex-direction: row;
}

.share {
    width: 75px;
    margin: 0;
}

.delete {
    width: 75px;
    margin: 0;
}

div.proyectos {
    margin-top: 10%;
    margin-right: 50%;
}